// 颜色
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// 首页内容宽度更改为页面的 75%
.home-blog
  .home-blog-wrapper
    width :75%
    
 // 文章页内容宽度更改为页面的 50%  
.page
  .page-title
    max-width :50%
  .content__default:not(.custom)
    max-width :50%
  .page-nav
    max-width :50%
    
.comments-wrapper
  max-width :50% !important